<div (click)="closePopup()" class="appear full-screen">


    @if (!checkCase("accountHandling")) {
    <div class="popup">

        @if (checkCase("signUpSuccess")) {
        <p>Sign up was successful, now you can login and order your pizza!</p>

        <div class="full-width">
            <a [routerLink]="['/login']"><button (click)="popupService.closePopup()" class="white-button"
                    mat-flat-button>To login page</button></a>
        </div>
        }

        @if (checkCase("error") ) {
        <p class="error">{{ popupService.message }}</p>
        <div class="full-width">
            <button (click)="popupService.closePopup()" class="white-button" mat-flat-button>close</button>
        </div>
        }

        @if (checkCase("info")) {
        <p>{{ popupService.message }}</p>
        <div class="full-width">
            <button (click)="popupService.closePopup()" class="white-button" mat-flat-button>close</button>
        </div>
        }

        @if (checkCase("forceLogin")) {
        <p>You have to be logged in to order your pizza.. otherwise, we don't know where to deliver </p>
        <div class="full-width">
            <button (click)="router.navigate(['login']); popupService.closePopup();" class="white-button"
                mat-flat-button>Login</button>
            <button (click)="router.navigate(['signup']); popupService.closePopup();" class="white-button"
                mat-flat-button>Sign Up</button>
        </div>
        }


    </div>
    }

    @if (checkCase("accountHandling")) {
    <app-account-dialog class="account-menu"></app-account-dialog>
    }


</div>