@import "../../styles.scss";

.full-screen {
    height: 100%;
    width: 100%;
    background: linear-gradient($primary , $secondary);
    @extend .center;
    @extend .appear;
}

form {
    background-color: $bg;
    box-shadow: 1px 1px 10px grey;
    width: 400px;
    min-height: 300px;
    padding: 30px;
    border-radius: 10px;
}

.full-width {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    gap: 10px;

}

.adress {
    width: 40%;
}

.button-container {
    margin-top: 20px;
    justify-content: center !important;
}
